*.elc
*.*~
elpa/*
/ac-comphist.dat
url/*
.#*
\#*
/eshell/history
/.DS_Store
/.emacs.desktop
/.emacs.desktop.lock
/eshell/lastdir
/texput.log
/x.log
/tramp
/clang-complete
skewer-cache
/games/snake-scores
/games/snake-scores.lockfile
/request/curl-cookie-jar
/.litable-lists.el
/semanticdb/!Applications!Xcode.app!Contents!Developer!Platforms!MacOSX.platform!Developer!SDKs!MacOSX10.8.sdk!usr!include!sys!semantic.cache
/semanticdb/!Users!jordon!src!scratchpad!semantic.cache
/srecode-map.el
/timelog
/timelog~
/var/pcache/gh/gh-gist-api/jordonbiondo
skewer-cache

jabber-history/*
/server/server
/tutorial/English.tut
/roguel-ike-saves
/history
/%backup%~
!.gitignore
keys/*
!keys/keys.el
/jabber-avatar-cache/
/projectile-bookmarks.eld
/projectile.cache
/ido.last
/bookmarks
/semanticdb/
/custom.el
/.edbi-ds-history
/SessionDesktop.el
/eshell/
/games/
/recentf
